<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>

<body class="content">
<section class="hero is-success">
  <div class="hero-body">
  <div class="container">
    <h1 class="title">
      Solid-spork
    </h1>
    <p class="subtitle">
    Welcome to <b>solid-spork</b> - word analysis and dictionary generator
	application.
    </p>
  </div>
  </div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</section>

<section class="section">

<!-- <form class="form" method='POST'> -->
<!-- 	<div class='field'> -->
<!-- 		<label class="label">Text for analysis:</label> -->
<!-- 		<textarea class="textarea" rows="5" cols="7" name="inputtext" -->
<!-- 				 placeholder="Input text here"></textarea> -->
<!-- 	</div> -->
<!-- 	<div class='field'> -->
<!-- 	<label class="label">Enter dicitionary name:</label> -->
<!-- 	    <input class="input" type="text" placeholder="Text input" -->
<!-- 	    	value="Dictionary"> -->
<!--   	    <p class="help is-success">This dictionary exists and will add -->
<!-- 	    words to existing dictionary</p> -->
<!-- 	</div> -->
<!-- 	<div class='field'> -->
<!-- 		<button class="button is-success">Start analysis</button> -->
<!-- 	</div> -->
<!-- 	<!-1- <div class='field'> -1-> -->
<!-- 	<!-1- </div> -1-> -->
<!-- 	<!-1- <div class='field'> -1-> -->
<!-- 	<!-1- </div> -1-> -->
<!-- </form> -->

{% block content %}{% endblock %}

</section>


</body>

</html>
