{% extends "app.html" %}

{% block content %}

{% for x in images %}
    <section class="section">
    <h2 class="title">Dictionary {{ x }}</h2>
        <figure>
            <img src="static/{{ x }}wc.png" alt="{{ x }} dictionary image">
            <figcaption>In dictionary {{ x }} ratio of word occurrencies against their number</figcaption>
        </figure>
        <figure>
            <img src="static/{{ x }}wl.png" alt="{{ x }} dictionary image">
            <figcaption>In dictionary {{ x }} length of words against number of words of that length</figcaption>
        </figure>
    </section>
{% endfor %}

{% endblock %}
